<!DOCTYPE>
<html>
  <head> 
    <title>Grades</title>
    <link th:href="@{/grades.css}" rel="stylesheet"></link>
  </head>
  <body>

    <div class="topnav">
      <a>Form</a>
      <a>Grades</a>
    </div>

    <div class= "container">
      <h2 > Grades </h2>
      <table id="table"> 
        <tr>
          <th>Student</th>
          <th>Subject</th>
          <th>Score</th>
        </tr>
        <tr>
            <td th:text="${grade.name}"></td>
            <td th:text="${grade.subject}"></td>
            <td th:text="${grade.score}"></td>
        </tr>
        <tr th:object="${grade}">
            <td><span th:text="*{name}"></span> ?? second ??</td>
            <td th:text="*{subject}"></td>
            <td th:text="*{score}"></td>
        </tr>
      </table>
    </div>

    <!-- 
    <div>
        <p th:if="${sales > 50}">Sales are good!</p>
        <p th:unless="${sales > 50}">Sales are pool!</p>
    </div> 
    -->

    <!-- Ternary Operator -->
    <!-- 
    <div>
        <p th:text="${sales > 50 ? 'Sales are good!' : 'Sales are bad!'}"></p>
    </div> 
    -->

    <!-- 
    <div th:switch="${product}">
        <p th:case="'chair'">$50</p>
        <p th:case="'tv'">$500</p>
        <p th:case="*">no match!</p>
    </div>
     -->

     <!-- 
        <p th:text="${#string.contains(menu, 'cake')}"></p> 
        this should return a true or false. (need set menu correctly)
        Docs: https://github.com/thymeleaf/thymeleaf/tree/3.1-master/lib/thymeleaf/src/main/java/org/thymeleaf/expression
    -->
  </body>
</html>